<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Social Feed{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {% block head %}{% endblock %}
    </head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <nav class="nav">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo_small.png') }}" alt="Logo">
        </a>
        <div class="nav-links">
            {% if 'username' in session %}
                <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                <a href="{{ url_for('register') }}" class="nav-link">Register</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/videoManager.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/feedManager.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
